h1 {
	color: yellow;
	font-size: 40px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: underline;
	letter-spacing: 1.1px;
}

body {
	background-image: url("main.jpg");	
}